<h1>Edit existing Article</h1>

<% if @article.errors.any? %>
<h2>The following errors prevented the article from getting created.</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<!-- The variable instance @articles eas created on articles_controller "new" method -->
<!-- As this is a module help form, it fills the data regarding to the article id got from the route(URL) -->
<%= form_for @article do |f| %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description  %>
  </p>
  <p>
    <%= f.submit %> <!-- It submits to the create method on articles_controller -->
  </p>
<% end %>

<%= link_to "Back to Articles List", articles_path %>